## Case Study #2 - Pizza Runner

#### Problem Statement
Did you know that over 115 million kilograms of pizza is consumed daily worldwide??? (Well according to Wikipedia anyway…)

Danny was scrolling through his Instagram feed when something really caught his eye - “80s Retro Styling and Pizza Is The Future!”

Danny was sold on the idea, but he knew that pizza alone was not going to help him get seed funding to expand his new Pizza Empire - so he had one more genius idea to combine with it - he was going to Uberize it - and so Pizza Runner was launched!

Danny started by recruiting “runners” to deliver fresh pizza from Pizza Runner Headquarters (otherwise known as Danny’s house) and also maxed out his credit card to pay freelance developers to build a mobile app to accept orders from customers.

#### Entity Relationship Diagram

![week2.png](week2.png)

Import modules

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlite3 as sql
pd.set_option('display.max_columns', None)

Initialize SQL

In [3]:
conn = sql.connect("week2.db")
cursor = conn.cursor() 
if os.stat("week2.db").st_size == 0:
    with open('week2-sql.txt','r') as file:
        script = file.read()
        script = script.replace('\n', ' ')
    cursor.executescript(script)

Verify tables

In [4]:
query = """SELECT name FROM sqlite_master WHERE type='table';"""
cursor.execute(query)
tables = [table[0] for table in cursor.fetchall()]
tables
print(f'The tables in the database are: {', '.join(tables)}')

The tables in the database are: runners, customer_orders, runner_orders, pizza_names, pizza_recipes, pizza_toppings

Fetch table information

In [5]:
for table in tables:
    print("=================================")
    print(f'Table [{table}]')
    df = pd.read_sql_query(f'SELECT * FROM {table}', conn)
    print(f'Dimensions: {df.shape[0]} rows x {df.shape[1]} columns\n')
    print(df.head())
    info_df = pd.DataFrame.from_dict({'Datatypes':df.dtypes, 'NULL count':df.isna().sum()})
    print()
    print(info_df)
    print()

=================================
Table [runners]
Dimensions: 4 rows x 2 columns

   runner_id registration_date
0          1        2021-01-01
1          2        2021-01-03
2          3        2021-01-08
3          4        2021-01-15

                  Datatypes  NULL count
runner_id             int64           0
registration_date    object           0

=================================
Table [customer_orders]
Dimensions: 14 rows x 6 columns

   order_id  customer_id  pizza_id exclusions extras           order_time
0         1          101         1                    2020-01-01 18:05:02
1         2          101         1                    2020-01-01 19:00:52
2         3          102         1                    2020-01-02 23:51:23
3         3          102         2              None  2020-01-02 23:51:23
4         4          103         1          4         2020-01-04 13:23:46

            Datatypes  NULL count
order_id        int64           0
customer_id     int64           0
pizza_id        int64           0
exclusions     object           0
extras         object           1
order_time     object           0

=================================
Table [runner_orders]
Dimensions: 10 rows x 6 columns

   order_id  runner_id          pickup_time distance    duration cancellation
0         1          1  2020-01-01 18:15:34     20km  32 minutes
1         2          1  2020-01-01 19:10:54     20km  27 minutes
2         3          1  2020-01-03 00:12:37   13.4km     20 mins         None
3         4          2  2020-01-04 13:53:03     23.4          40         None
4         5          3  2020-01-08 21:10:57       10          15         None

             Datatypes  NULL count
order_id         int64           0
runner_id        int64           0
pickup_time     object           0
distance        object           0
duration        object           0
cancellation    object           3

=================================
Table [pizza_names]
Dimensions: 2 rows x 2 columns

   pizza_id  pizza_name
0         1  Meatlovers
1         2  Vegetarian

           Datatypes  NULL count
pizza_id       int64           0
pizza_name    object           0

=================================
Table [pizza_recipes]
Dimensions: 2 rows x 2 columns

   pizza_id                 toppings
0         1  1, 2, 3, 4, 5, 6, 8, 10
1         2       4, 6, 7, 9, 11, 12

         Datatypes  NULL count
pizza_id     int64           0
toppings    object           0

=================================
Table [pizza_toppings]
Dimensions: 12 rows x 2 columns

   topping_id topping_name
0           1        Bacon
1           2    BBQ Sauce
2           3         Beef
3           4       Cheese
4           5      Chicken

             Datatypes  NULL count
topping_id       int64           0
topping_name    object           0

## Case Study Questions